@model CreateWorkLocationDto
@{
    ViewData["Title"] = "AddWorkLocation";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>
    Add WorkLocation
</h1>

<form method="post">
    <label>WorkLocation City HotelName</label>
    <input type="text" asp-for="WorkLocationCityHotelName" class="form-control" />
    <span asp-validation-for="WorkLocationCityHotelName" class="text-danger"></span>
    <br />

    <label>WorkLocation City</label>
    <input type="text" asp-for="WorkLocationCity" class="form-control" />
    <span asp-validation-for="WorkLocationCity" class="text-danger"></span>
    <br />

    <button class="btn btn-primary">Add</button>
</form>
