@model List<ResultSendBoxDto>
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<div class="email-left-box">
    <a href="/AdminContact/AddSendMessage/" class="btn btn-primary btn-block">Compose</a>
    @await Html.PartialAsync("SideBarAdminContactPartial")
    <h5 class="mt-5 m-b-10">Categories</h5>
    @await Html.PartialAsync("SideBarCategoryAdminContactPartial")
</div>
<div class="email-right-box">
    <div class="toolbar">
        <span class="btn btn-dark caret m-l-5">Send Messages</span>
    </div>
    <div class="email-list m-t-15">
        @foreach (var item in Model)
        {
            var contentLength = "";
            if (item.Content.Length >= 30) contentLength = item.Content.Substring(0, 30) + "...";
            else contentLength = item.Content;

            <div class="message">
                <a href="/AdminContact/MessageDetailsSender/@item.SendMessageId">
                    <div class="col-mail col-mail-1">
                        <div class="email-checkbox">
                            <input type="checkbox" id="chk21">
                            <label class="toggle" for="chk21"></label>
                        </div><span class="star-toggle ti-star"></span>
                    </div>
                    <div class="col-mail col-mail-2">
                        <div class="subject"><b>Subject: @item.Title - Topic:</b> @contentLength</div>
                        <div class="date">@(item.Date.ToShortDateString())</div>
                    </div>
                </a>
            </div>
        }
        @* <div class="message unread">
        <a href="email-read.html">
        <div class="col-mail col-mail-1">
        <div class="email-checkbox">
        <input type="checkbox" id="chk20">
        <label class="toggle" for="chk20"></label>
        </div><span class="star-toggle ti-star"></span>
        </div>
        <div class="col-mail col-mail-2">
        <div class="subject">Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of</div>
        <div class="date">11:49 am</div>
        </div>
        </a>
        </div> *@

    </div>
</div>

