@{
    Layout = null;
}

<!DOCTYPE html>
<html class="h-100" lang="en">

@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")

<body class="h-100">

    @await Html.PartialAsync("/Views/AdminLayout/PreLoaderPartial.cshtml")

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="error-content">
                        <div class="card mb-0">
                            <div class="card-body text-center pt-5">
                                <h1 class="error-text text-primary">404</h1>
                                <h4 class="mt-4"><i class="fa fa-thumbs-down text-danger"></i> Not Found</h4>
                                <p>Your Request resulted in an error.</p>
                                <form class="mt-5 mb-5">

                                    <div class="text-center mb-4 mt-4">
                                        <a href="/Default/Index/" class="btn btn-primary">Go to Homepage</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    @await Html.PartialAsync("/Views/AdminLayout/ScriptPartial.cshtml")
</body>
</html>





