@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

Choose File Type:
<br /><a href="/AdminImageFile/ImageUpload/"> Image</a>
<br /><a href="/AdminImageFile/UploadFile/">File</a>