
@{
    ViewData["Title"] = "UploadFile";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data" asp-action="UploadFile">
    <label>Upload File</label>
    <input type="file" name="file" class="form-control" />
    <br />
    <button class="btn btn-primary" type="submit">Upload</button>
</form>
